/* header section */
*{
  margin: 0%;
}
.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  height: 60vh;
  background-color: black;
  border-radius: 20px;
  padding: 5% 5% 0 5%;
  margin: 5% 10% 5% 10%;
}
.watch:hover{
  background-color: rgb(109, 14, 14);
}
.header-text{
  color: white;
  width: 100%;
  padding: 2%;
}
.header-text h1{
  font-size: 4em;
  margin: 5% 0 5% 0;
}
.header-text p{
  font-size: 1em;
  margin: 5% 0 5% 0;
}
.header-text a{
  background-color: red;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 1.5%;
  margin: 5% 0 5% 0;
}
.header-img img{
  padding-left: 20%;
  width: 70%;
  height: 60vh;
}
/* main-section */
.main{
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  width: 80%;
  margin: 10vh 10% 10Vh 10%;
}
.short-menu{
  height: 16em;
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}
.short-menu a:hover{
  background-color: red;
}
.short-menu a{
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: gray;
  width: 70%;
  background-color: white;
  margin: 1em auto;
  padding: 1em;
  border-radius: 1em;

}
.blogs{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.match{
  background-color: rgb(253, 248, 248);
  border: 2px solid rgb(244, 238, 238);
  margin: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2.5em 2em 2.5em 2em;
}
.flag{
  display: flex;
  justify-content: center;
  /* margin: 2em 2em 0 2em; */
}
.flag> h3{
  margin: 0 .5em 0 .5em;
  padding-top: 5%;
}

.schedule{
  font-weight: 900;
  font-size: 1.2em;
  margin: 1em 0 1em 0;
}
.flag-text{
  /* padding: 1em; */
}
.flag-text> p{
  text-align: center;
}

/* .topics{
  background-color: rgb(253, 248, 248);
  margin: 5%;
  border-radius: 10px;
}
.topics> img{
  width: 100%;
}.topics> button{
  margin-top: 3%;
}
h3{
  margin: 1em 0 1em 0;
}
p> span{
  margin: 0 5% 0 3%;
} */
/* footer section */
.footer{
  background-color: black;
  color: white;
  height: 45vh;
}
.footer-inside{
margin:auto;
width: 80%;
padding-top: 5em;
display: flex;
flex-direction: column;
align-items: center;
}
hr{
  width: 100%;
  margin-bottom: 2em;
}
h2{
  font-size: 2em;
  padding-bottom: 1.5em;
}
.find-us{
  display: flex;
}
.find-us P{
  margin-right: 1em;
}
.social-media{
  display: flex;
  gap: 1em;
  font-size: 2em;
  margin-top: 1em;
}